<div class="container">
  <div class="left-side">
    <h1 class="players-header">{{ gameMode + ' - Spieler' }}</h1>
    <div class="player-list">
      <div class="players">
        <dartapp-player-card
          *ngFor="let player of players; let i = index"
          [name]="player.name"
          [points]="points[i]"
          [average]="averages[i]"
          [darts]="darts[i]"
          [lastDarts]="player.currentDarts"
          [bust]="bust"
          class="player-card"></dartapp-player-card>
      </div>
    </div>
  </div>

  <div class="current-player">
    <h1 class="players-header">Aktueller Spieler</h1>
    <div class="current-player-block">
      <div class="warning-triangle-wrapper" *ngIf="showWarning">
        <div class="warning-triangle">
          ⚠️
          <div class="warning-tooltip">
            <strong>Warnung: Hohe Fehlerwahrscheinlichkeit!</strong>
            <br />
            Mindestens eine Kamera kann nicht richtig zurückgesetzt werden.
            <br />
            Prüfe anhand der Indikatorleiste die Zustände der Kameras und setze diese eventuell über den Button in der
            Navigationsleiste zurück.
          </div>
        </div>
      </div>
      <div class="player-content">
        <h2 class="current-player-tag">{{ players[currentPlayerIndex].name }}</h2>
        <div class="current-score">{{ points[currentPlayerIndex] }}</div>

        <div class="current-darts" [ngClass]="{ 'editing-mode': editingMode }">
          <div
            class="dart-field"
            id="dart1"
            [ngClass]="{
              'blink-gray': editingMode,
              'blink-red': selectedDartIndex === 0 || bust.bust
            }"
            (click)="selectDart(0)">
            {{ getDartValue(0) }}
          </div>
          <div
            class="dart-field"
            id="dart2"
            [ngClass]="{
              'blink-gray': editingMode,
              'blink-red': selectedDartIndex === 1 || bust.bust
            }"
            (click)="selectDart(1)">
            {{ getDartValue(1) }}
          </div>
          <div
            class="dart-field"
            id="dart3"
            [ngClass]="{
              'blink-gray': editingMode,
              'blink-red': selectedDartIndex === 2 || bust.bust
            }"
            (click)="selectDart(2)">
            {{ getDartValue(2) }}
          </div>
        </div>

        <div class="lamp-container">
          <dartapp-camera-status [cameraStatus]="cameraStatus" [displayComponent]="this"></dartapp-camera-status>
        </div>

        <div class="button-group">
          <button class="button-custom next-button-custom" (click)="toggleEditingMode()">
            {{ editingMode ? 'Änderungen Speichern' : 'Änderungen Eintragen' }}
          </button>
          <button *ngIf="editingMode" class="button-custom miss-button-custom" (click)="disableEditingMode()">Abbrechen</button>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-section">
    <div class="scoring-zoom-div">
      <div *ngFor="let dartPosition of currentDartPositions; let j = index">
        <dartapp-scoring-zoom-view
          #zoomField
          [targetPosition]="{
            x: players[currentPlayerIndex].currentDartPositions[j][0],
            y: players[currentPlayerIndex].currentDartPositions[j][1]
          }"
          [customId]="customId + j"
          [isThrown]="players[currentPlayerIndex].currentDartPositions[j].length > 0"></dartapp-scoring-zoom-view>
      </div>
    </div>
    <dartapp-reason-group
      [(selectedReason)]="selectedReason"
      [editingMode]="editingMode"
      *ngIf="editingMode"></dartapp-reason-group>
  </div>
</div>
