<dartapp-topbar></dartapp-topbar>

<div class="container">
  <h1>Willkommen!</h1>

  <dartapp-gameselect></dartapp-gameselect>

  <div class="card-container">
    <div class="card" onclick="">
      <h2>Statistiken Einsehen</h2>
      <p>Sieh dir deine Statistiken und Fortschritte an!</p>
    </div>
    <div class="card" onclick="">
      <h2>Scoreboard</h2>
      <p>Sieh dir die aktuelle Bestenliste an!</p>
    </div>
    <div class="card" onclick="">
      <h2>Spielhistorie</h2>
      <p>Überblick über deine vorherigen Spiele!</p>
    </div>
    <div class="card" onclick="">
      <h2>Spieler Verwalten</h2>
      <p>Füge Spieler hinzu und verwalte deren Informationen!</p>
    </div>
  </div>
</div>
