<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="topbar">
  <h1 (click)="navHome()">DartApp</h1>
  
  <div class="button-container">
    <button class="button calibrate-button" (click)="restartTracker()">
      <div class="button-text">Tracker Neustarten</div>
      <i class="material-icons" style="font-size: 24px;">restart_alt</i>
    </button>

    <button class="button calibrate-button" (click)="startCalibration()" [disabled]="isCalibrationRunning()">
      <div class="button-text">Kalibrierung</div>
      <i class="material-icons" style="font-size: 24px;">adjust</i>
    </button>

    <button class="button settings-button" (click)="null">
      <i class="material-icons" style="font-size: 24px;">settings</i>
    </button>
  </div>
</div>