<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="topbar">
  <h1 (click)="navHome()">DartApp</h1>
  
  <div class="button-container">
    <button class="button calibrate-button" (click)="toggleCalibrationPopup()">
      <div class="button-text">Kalibrierung</div>
      <i class="material-icons" style="font-size: 24px;">adjust</i>
    </button>

    <button class="button settings-button" (click)="null">
      <i class="material-icons" style="font-size: 24px;">settings</i>
    </button>
  </div>
</div>

<!-- Calibration Pop Up -->
<div *ngIf="isPopupVisible" class="popup" (click)="closeCalibrationPopup($event)">
  <div class="popup-content">
    <div class="popup-header">
      <h1 class="calibration-header">{{ currentHeading }}</h1>
      <!-- <button class="close-btn" (click)="closeCalibrationPopup($event)">&times;</button> -->
    </div>
    
    <div class="animation-container">
      <dartapp-scoring-zoom-view 
        #calibrationZoom 
        [targetPosition]="{x:zoomPosition[0], y:zoomPosition[1]}" 
        [isThrown]="isCalibrationStarted" 
        [customId]="customId"></dartapp-scoring-zoom-view>
    </div>
    
    <p class="message">Kalibrierungsfortschritt: {{ currentStep }}/{{ maximumSteps }}</p>

    <button 
    class="buttom-custom calibrate-button-custom" 
    (click)="startCalibrationStep()" 
    *ngIf="!isCalibrationStarted">Kalibrierung Starten</button>

    <button 
    class="buttom-custom calibrate-button-custom" 
    (click)="cancelCalibration()" 
    *ngIf="isCalibrationStarted">Abbrechen</button>
  </div>
</div>
