<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="topbar">
  <h1 (click)="navHome()">DartApp</h1>
  
  <div class="button-container">
    <button class="button calibrate-button" (click)="toggleCalibrationPopup()">
      <div class="button-text">Kalibrierung</div>
      <i class="material-icons" style="font-size: 24px;">adjust</i>
    </button>

    <button class="button settings-button" (click)="null">
      <i class="material-icons" style="font-size: 24px;">settings</i>
    </button>
  </div>
</div>

<!-- Calibration Pop Up -->
<div *ngIf="isPopupVisible" class="popup" (click)="closeCalibrationPopup($event)">
  <div class="popup-content">
    <span class="close-btn" (click)="closeCalibrationPopup($event)">&times;</span>
    <h1>{{ currentHeading }}</h1>
    <div class="animation-container">
      <dartapp-scoring-zoom-view [targetPosition]="{x:0, y:0}"></dartapp-scoring-zoom-view>
    </div>
    <p>Kalibrierungsfortschritt: {{ currentStep }}/4</p>
  </div>
</div>
