.topbar {
  width: 100vw;
  height: 60px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #ff5733; 
}

.topbar h1 {
  margin: 0;
  font-size: 2rem; 
  font-weight: bold; 
  color: #ff5733; 
  padding-left: 20px;
  text-align: left; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  letter-spacing: 2px;
  cursor: pointer;
}

.topbar nav {
  display: flex;
  gap: 15px;
}

.topbar a {
  text-decoration: none;
  color: #555;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.topbar a:hover {
  background-color: #e0e0e0;
}

.topbar .button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  gap: 8px; 

  background-color: #ff5733; 
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.topbar .settings-button {
  background-color: #ff5733; 
}

.topbar .calibrate-button {
  background-color: #df4624; 
}

.topbar .button:hover {
  background-color: #f44336;
}

.topbar .button-text {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.topbar .button-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 50px;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.popup-header .close-btn {
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
}

.calibration-header {
  font-size: 2.5rem; 
  font-weight: bold; 
  color: rgb(44, 44, 44); 
  text-transform: uppercase; 
  text-align: left; 
  margin-bottom: 20px;
  border-bottom: 3px solid rgb(44, 44, 44); 
  padding-bottom: 10px; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  letter-spacing: 2px;
  padding-bottom: 5%;
}

.message {
  font-size: 1.2rem;
  font-weight: bold;
  color: #009688;
}

.buttom-custom {
  color: white; 
  border: none; 
  border-radius: 8px; 
  font-size: 25px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background 0.3s, transform 0.2s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  max-width: 500px;
}

.calibrate-button-custom {
  padding: 10px 75px; 
  width: 65%;
  background: linear-gradient(90deg, #4CAF50, #388E3C);
}

.calibrate-button-custom:hover {
  background: linear-gradient(90deg, #45A049, #388E3C);
  transform: translateY(-2px); 
}

.calibrate-button-custom:active {
  transform: translateY(1px); 
}

.calibrate-button-custom:disabled {
  background-color: #d3d3d3;  
  color: #7a7a7a; 
  border: 2px solid #ccc; 
  cursor: default; 
  box-shadow: none; 
  opacity: 0.6; 
}

.calibrate-button-custom:disabled:hover {
  background-color: #d3d3d3;
}

.cancel-button-custom {
  padding: 10px 75px; 
  width: 55%;
  margin-top: 2%;
  background: linear-gradient(90deg, #f44336, #ff5733); 
}

.cancel-button-custom:hover {
  background: linear-gradient(90deg, #e53935, #ff4d3f);
  transform: translateY(-2px); 
}

.cancel-button-custom:active {
  transform: translateY(1px); 
}

.cancel-button-custom:disabled {
  background-color: #d3d3d3;  
  color: #7a7a7a; 
  border: 2px solid #ccc; 
  cursor: default; 
  box-shadow: none; 
  opacity: 0.6; 
}

.cancel-button-custom:disabled:hover {
  background-color: #d3d3d3;
}

.message-field {
  padding: 10px;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #666;
}