<h1>Details für den Modus {{ data.mode }}</h1>
<div *ngIf="data.mode === 'X01'">
  <mat-dialog-content>
    <mat-label>Wähle die Punktzahl</mat-label>
    <mat-radio-group [(ngModel)]="points">
      <mat-radio-button value="301">301</mat-radio-button>
      <mat-radio-button value="501">501</mat-radio-button>
      <mat-radio-button value="701">701</mat-radio-button>
      <mat-radio-button value="901">901</mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-checkbox [(ngModel)]="doubleOut">Double Out</mat-checkbox>
  </mat-dialog-content>
</div>

<div *ngIf="data.mode === 'Cricket'">
  <mat-checkbox [(ngModel)]="includeBullsEye">Bullseye einbeziehen</mat-checkbox>
</div>

<div *ngIf="data.mode === 'Train Your Aim'">
  <mat-checkbox [(ngModel)]="includeBullsEye">Bullseye einbeziehen</mat-checkbox>
</div>

<button mat-raised-button (click)="saveDetails()">Weiter</button>