<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Dashboard</title>
    <style>
        .camera-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
        }
        .camera-item {
            text-align: center;
        }
        .stats{
            font-size: large;
        }
    </style>
    <script>
        function fetchFrametime() {
            fetch('/frametime')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('frametime').innerText = `${data.frametime}`;
                });
        }

        setInterval(fetchFrametime, 1000); // Fetch frametime every second
    </script>
</head>
<body>
    <div class="camera-grid">
        <div class="camera-item">
            <img src="{{ url_for('video_feed', camera_id=0) }}" >
        </div>
        <div class="camera-item">
            <img src="{{ url_for('video_feed', camera_id=1) }}" >
        </div>
        <div class="camera-item">
            <img src="{{ url_for('video_feed', camera_id=2) }}">
        </div>
        <div class="stats" id="frametime">Calculating...</div>
    </div>
</body>
</html>
