//Loading Spinner
.loading-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #f44336;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-loading-contrainer {
  color: #f44336;
}

.warning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.warning-triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f44336;
  border-radius: 50%;
}

.warning-triangle i {
  color: white;
  font-size: 32px;
}

.button-custom {
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background 0.3s,
    transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 5%;
  width: 100%;
  min-width: 200px;
  max-width: 500px;
}

.miss-button-custom {
  background: linear-gradient(90deg, #f44336, #ff5733);
}

.miss-button-custom:hover {
  background: linear-gradient(90deg, #e53935, #ff4d3f);
  transform: translateY(-2px);
}

.miss-button-custom:active {
  transform: translateY(1px);
}

.miss-button-custom:disabled {
  background-color: #d3d3d3;
  color: #7a7a7a;
  border: 2px solid #ccc;
  cursor: default;
  box-shadow: none;
  opacity: 0.6;
}

.miss-button-custom:disabled:hover {
  background-color: #d3d3d3;
}
