<div class="container">
  <div class="player-list">
    <h1>Spieler</h1>

    <div >
      <dartapp-player-card
        
        [name]="players[currentPlayerIndex].name"
        [points]="points[currentPlayerIndex]"
        [average]="averages[currentPlayerIndex]"
        [darts]="darts[currentPlayerIndex]"
      ></dartapp-player-card>
    </div>
  </div>

  <div class="current-player">
    <h2 class="current-player-tag">{{players[currentPlayerIndex].name}}</h2>
    <div class="current-score">{{points[currentPlayerIndex]}}</div>
    <div class="actions">
      <button>{{currentDarts[0]}}</button>
      <button>{{currentDarts[1]}}</button>
      <button>{{currentDarts[2]}}</button>
    </div>
  </div>
</div>
<button (click)="watchGame()"></button>

<h1>{{gameMessage}}</h1>
