<div class="container">
    <div class="dart-field" id="field">
        <div 
            class="dart-wrapper" 
            [id]="'zoomfield'">
            <img 
            [src]="dartboardImage" 
            alt="Dartscheibe"
            [ngClass]="{ 'grayscale' : !isCurrentFieldThrown()}"
            class = "dartboard-image">
            <div 
                [id]="'point'" 
                class="dart-point hidden" 
                [style.left.px]="targetPosition.x" 
                [style.top.px]="targetPosition.y"
                [ngClass]="{ 'visible': isCurrentFieldThrown(), 'hidden': !isCurrentFieldThrown() }"
                ></div>
        </div>
    </div>
</div>