<div class="container">
    <div class="dart-field" *ngFor="let field of dartFields; let i = index" [id]="'field' + i">
        <div 
            class="dart-wrapper" 
            [id]="'zoomfield' + i">
            <img 
            [src]="dartboardImage" 
            alt="Dartscheibe"
            [ngClass]="{ 'grayscale' : !isCurrentFieldThrown(i)}"
            class = "dartboard-image">
            <div 
                [id]="'point' + i" 
                class="dart-point hidden" 
                [style.left.px]="field[0]" 
                [style.top.px]="field[1]"
                [ngClass]="{ 'visible': isCurrentFieldThrown(i), 'hidden': !isCurrentFieldThrown(i) }"
                ></div>
        </div>
    </div>
</div>